.plate-area {
    
    background-color: aqua;
  }

  #plate {
      border-radius: 300px;
      background: red;
      background-repeat: repeat;
      padding: 20px;
      margin: 80px 20px 20px 400px;
      width: 500px;
      height: 500px;}