

#veg-portion {
  width: 150px;
  height: 300px; 
  border-radius: 150px 0 0 150px;
  background-image: url('../images/logo.png');
  position: absolute;
  top: 0;
  left:0;
  }

  #protein-portion {
      width: 150px;
      height: 150px;
      border-radius: 0 150px 0 0;
      background-color: red;
      position: absolute;
      top: 0;
      left:150px;
    }
  
    #carb-portion {
      width: 150px;
      height: 150px;
      border-radius: 0 0 150px 0px;
      background-image: url('../images/logo.png');
      position: absolute;
      top: 150px;
      left: 150px;
    }
    
    #plate-area {
      position:relative;
      top:150px;
      left:350px;
    }