
body {
  font-family: Quattrocento, sans-serif;
  color:black;

}

#veg-portion {
  width: 150px;
  height: 300px; 
  border-radius: 150px 0 0 150px;
  background-image: url('../images/logo.png');
  position: absolute;
  top: 0;
  left:0;
  }

  #protein-portion {
      width: 150px;
      height: 150px;
      border-radius: 0 150px 0 0;
      background-color: red;
      position: absolute;
      top: 0;
      left:150px;
    }
  
    #carb-portion {
      width: 150px;
      height: 150px;
      border-radius: 0 0 150px 0px;
      background-image: url('../images/logo.png');
      position: absolute;
      top: 150px;
      left: 150px;
    }
    
    #plate-area {
      position:relative;
      top:150px;
      left:350px;
    }

    #menu {
      font-size: 150%;
      letter-spacing: 4px;
      position: absolute;
      top: 23px;
      right:0;

  }
  
  #menu li {
      float: right;
      list-style-type: none;
      margin-right: 80px;
    
  }
  
  #menu a {
      text-decoration: none;
      color: inherit;
  }
  
  #menu a:hover {
      border-bottom: 1px solid #3a3a3a;
  }

  .active {
    border-bottom: 1px solid #3a3a3a;
}

#heading {
  font-size: 250%;
  letter-spacing: 4px;
  position: absolute;
  top: 10px;
  left:40px;

}
